.component-memory-list-wrapper {
  margin: 5px;
  padding: 10px;
  border: 5px solid #000;
}

.component-memory-list-form {
  display: flex;
}

.component-memory-list-input {
  flex: 1;
  border: 5px solid #000;
}

.component-memory-list-submit {
  width: 50px;
  border: 5px solid #000;
  margin-left: 5px;
}
