.item-list-container {
    position: relative;
    transition: height 0.3s;
    padding: 5px;
}

.item-empty-container {
    border: 5px solid #000;
    min-height: 30px;
    padding: 5px;
}

.item-outer {
    position: absolute;
    width: 100%;
    margin: 5px auto;
}

.item-outer-dragging {
    z-index: 9998;
}

.recommending {
    height: 160px;
    z-index: 9999;
}

.item-inner {
    border: 5px solid #000;
    display: flex;
    padding: 5px;
    background-color: white;
}

.component-item-checkbox {
    width: 10px;
    border: 5px solid #000;
}

.component-item-checkbox.done {
    background-color: #00f;
}

.component-item-dragger {
    width: 50px;
    background-color: #000;
}

.component-item-content {
    flex: 1;
    margin: 0 5px;
}
